<div class="container pt-5">
<div>
  <img class="rounded-circle shadow-4-strong" src="{{currentUser.imageUrl}}" alt="profile-photo" width="250"/>
  </div>
<div class="pt-3">
  {{> profilePartial currentUser}}
</div>

</div>
