<div class="background-pizza">
<div>

 
</div>
  <div class="w-25 ml-6 pt-5">

    <form
      class="row g-4 needs-validation"
      novalidate
      action="/signup"
      method="POST"
      enctype="multipart/form-data"
    >
<div class="col-12">

        <input
          class="form-control form-control-lg"
          id="name"
          type="file"
          name="imageUrl"
          accept="image/png, image/jpg"
        />
</div>
      <div class="col-12">
        <input
          class="form-control form-control-lg"
          id="name"
          type="text"
          name="name"
          placeholder="Name Surname"
          aria-describedby="nameError"
          required
        />
        <div id="nameError" class="invalid-feedback">
          Name and Surname is required!
        </div>

      </div>

      <div class="col-12">
        <input
          class="form-control form-control-lg"
          id="email-addres"
          type="email"
          name="email"
          placeholder="Email Address"
          aria-describedby="emailError"
          required
        />
        <div id="emailError" class="invalid-feedback">
          Email is not valid!

        </div>

      </div>

      <div class="col-12">
        <input
          class="form-control form-control-lg"
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          aria-describedby="passwordError"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}$"
          required
        />
        <div id="passwordError" class="invalid-feedback">

          Consist of at least 1 lower, 1 upper, 1 digit, 1 any character and min
          6 characters.

        </div>

      </div>

      <div class="col-12">
        <input
          class="form-control form-control-lg"
          id="address"
          type="text"
          name="address"
          placeholder="Address"
        />

      </div>

      <div class="col-12">

        <input
          class="form-control form-control-lg"
          id="city"
          type="text"
          name="city"
          placeholder="City"
        />

      </div>

      <div class="col-12">
        <input
          class="form-control form-control-lg"
          id="zip-code"
          type="text"
          name="zipCode"
          placeholder="Zip Code"
          pattern="^\d{4}[A-Z]{2}$"
          aria-describedby="zipcodeError"
        />
        <div id="zipcodeError" class="invalid-feedback">

          Zip Code should consist of 2 upper letters followed by 4 digits.

        </div>

      </div>

      <div class="col-12">

        <input
          class="form-control form-control-lg"
          id="phone-number"
          type="text"
          name="phoneNr"
          placeholder="Phone Number"
          pattern="^(\+|00)[0-9]{1,3}[0-9]{4,14}(?:x.+)?$"
          aria-describedby="phonenrError"
        />

        <div id="phonenrError" class="invalid-feedback">
          Phone-number is not valid!
        </div>

      </div>

      <div class="col-12 col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

    <div>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </div>
  </div>
</div>