<div class="col dish-more-info">
  <div class="card border-info">
    <img
      src="{{this.image}}"
      class="card-img-top dishImages"
      alt="{{this.title}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <a href="/dish/{{this._id}}" class="card-link">More Info</a>
    </div>
  </div>
</div>