<div class="row justify-content-evenly about pt-4">

  <div class="card col-md-5 col-xl-3 col-lg-4 col-sm-9 px-0">
    <img
      src="/images/about/Yildiz-Chef.jpg"
      class="card-img-top"
      alt=" Chef Yildiz"
    />

    <div class="card-body">
      <h5 class="card-title">Chef Yildiz Unlu</h5>

    </div>
  </div>

  <div class="card col-md-5 col-xl-3 col-lg-4 col-sm-9 px-0">
    <img
      src="/images/about/Alkim1.jpeg"
      class="card-img-top"
      alt=" Chef Yildiz"
    />

    <div class="card-body">
      <h5 class="card-title">Chef Alkim Altun</h5>

    </div>
  </div>

  <div class="col-10 mt-5">

    <p>
      Restaurant Bolognese was established in Italy in 2018 by Yildiz Ünlü and
      Alkim Altun.

    </p>
    <p>
      It serves its customers with world cuisine but especially traditional
      Turkish and Italian flavors.
    </p>
    <p>
      Alkim and Yildiz got to know each other during their exciting training at
      "ALMA: The School of Italian Culinary Arts" in 2015. They became good
      friends and decided to establish their restaurant in Amalfi Coast. Thanks
      to the delicious flavors they created, it quickly became one of the most
      well-known and preferred restaurants in Amalfi.

    </p>

    <p>
      Our customers love to taste our dishes while enjoying the magnificent view
      of the Amalfi Coast.

    </p>

    <p>
      The ingredients are high quality, additive-free and 100% natural products.

    </p>

    <p>Especially “Zeytinyaglilar” are prepared in a traditional way from
      Balikesir-Ayvalik region in Turkey. Traditional dishes such as Mantı,
      Sarma and desserts such as Baklava are prepared by our culinary artists
      Yıldız and Alkım.
    </p>

  </div>

</div>