<div class="container restaurant">
  <div class="row row-eq-height">
    <div class="col">
      <img
        src="/images/contact/restaurant2.jpeg"
        class="card-img-top"
        alt="Restaurant Photo"
      />
    </div>
    <div class="col">
      <img
        src="/images/contact/restaurant4.jpeg"
        class="card-img-top"
        alt="Restaurant Photo"
      />
    </div>
    <div class="col">
      <div>

        <div class="mapouter"><div class="gmap_canvas"><iframe
              class="gmap_iframe"
              width="100%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=517&amp;height=400&amp;hl=en&amp;q=Viale%20della%20Regione,%2043,%2084011%20Amalfi%20SA,%20Italy&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            ></iframe>
            <br /><style>.gmap_canvas {overflow: hidden;background: none
              !important;width: 100%;height: 400px;}.gmap_iframe {height: 400px
              !important;}</style><a href="https://embed-maps.com/">Embed Google
              Map</a>
          </div><style>.mapouter {position: relative;text-align: right;width:
            100%;height: 400px;}</style></div>

      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <img
        src="/images/contact/restaurant3.webp"
        class="card-img-top"
        alt="Restaurant Photo"
      />

    </div>
    <div class="col-4">

      <div id="contact-information">
        <p>Contact</p>
        <p>Viale della Regione, 43, 84011 Amalfi SA, Italy</p>
        <p>Phone Number: +39 089 45 60 693</p>

      </div>
    </div>

  </div>

</div>