<a href="/"><button type="button">Go to Home Page</button></a><br />
<a href="/drink"><button type="button">Go to Drink Page</button></a><br />

<h2>Dishes List</h2>

<div>
  {{#each dishes}}

    <div>

      <p>
        <a href="/dishes">{{this.title}} </a>
      </p>
      <img src="{{this.image}}" alt="{{this.title}} photo" />

      <a href="/dishes/{{this._id}}">More Info</a>

    </div>

  {{/each}}
</div>