<a href="/"><button type="button">Go to Home Page</button></a><br />
<a href="/dishes"><button type="button">Go to Dishes Page</button></a><br />

<h2>Drink List</h2>

<div>

  {{#each drinks}}
    <div>
      <a href="/drink/{{this._id}}">{{this.title}}</a>
      <img src="{{this.image}}" alt="{{this.title}} photo" />
    </div>

  {{/each}}

</div>