<footer class="py-3 my-4" style="background-color: #c5edf5">

  <div>

    <p class="text-center lh-1 footer"> Restaurant Bolognese</p>
    <p class="text-center lh-1 footer">Viale della Regione, 43, 84011 Amalfi SA,
      Italy</p>
    <p class="text-center lh-1 footer">Phone Number </p>
    <p class="text-center lh-1 footer">+39 089 45 60 693 </p>
  </div>

  <ul class="nav col-12 justify-content-center list-unstyled d-flex mt-2">
    <li class="ms-3 fs-4"><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li class="ms-3 fs-4"><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li class="ms-3 fs-4"><a href="#"><i class="fa fa-skype"></i></a></li>
  </ul>

  <p class="text-center mt-3 mb-0 footer">© 2023 Restaurant Bolognese</p>

</footer>