<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4" style="color:blue">Customer Reviews</h3>
    </div>
  </div>
  <div class="row text-center">
    {{#each reviews}}
      <div class="col-md-4 mb-5 mb-md-0">
        <p class="fs-6 fw-light">{{this.formattedDate}}</p>
        <h5 class="mb-3">{{this.name}}</h5>
        <p class="px-xl-3">
          <i class="fa fa-quote-left pe-2"></i>{{this.review}}<i
            class="fa fa-quote-right pe-2"
          ></i>
        </p>
        <p class="customer-rating">
          {{this.rating}}
        </p>

      </div>
    {{/each}}
  </div>
</section>