body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #140ca9;
}

h1 {
  color: 15px;
}

.navbar-nav {
  font-family: cursive;
}

.footer {
  color: #1c3bd7;
}

footer {
  height: 15vh;
}

.ml-6 {
  margin-left: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.nav-link:hover {
  background-color: #f8f9fb;
  border: 2px solid rgb(11, 43, 225);
  border-radius: 25px;
}

.background-pizza {
  width: 100vw;
  min-height: 80vh;
  background-size: cover;

  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.6)
    ),
    url("/images/home/pizza.jpeg");
}

.about {
  background-image: linear-gradient(
    rgba(73, 114, 148, 0.9),
    rgba(54, 163, 200, 0.1)
  );

  color: #111f60;
  font-family: cursive;
  font-size: 25px;
}

.carousel-item img {
  object-fit: cover;
  height: 67vh;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

.invalid-feedback {
  color: rgb(1, 1, 36) !important;
}

.restaurant img {
  object-fit: cover;
}

#contact-information {
  color: #140ca9;
  font-size: x-large;
  font-family: cursive;
}

.dish-more-info {
  color: #140ca9 !important;
  font-size: x-large !important;
  font-family: cursive !important;
}

.oneImage {
  height: 70vh !important;
  width: auto !important;
}

.dishImages {
  height: 30vh !important;
}

.user-information {
  color: #140ca9;
  font-size: x-large;
  font-family: cursive;
}

.order-information {
  color: #0e0d28;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}

.order-message {
  color: rgb(190 53 159);
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}

.rating-container {
  display: inline-block;
  margin-bottom: 1rem;
}

.rating-star {
  font-size: 2rem;
  color: #e76ce4;
  cursor: pointer;
}

.rating-star:hover,
.rating-star.active {
  color: #af179b;
}

.thumb {
  cursor: pointer !important;
  outline: 0 !important;
  color: #aaa !important;
}

.thumb:focus {
  outline: none !important;
}

.green {
  color: rgb(34, 194, 45) !important;
}

.red {
  color: red !important;
}
