
<div class="m-5">
  <h4 style="color: #140ca9">Snack</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.snack}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>


<div class="m-5">
  <h4 style="color: #140ca9">Soup</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.soup}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>


<div class="m-5">
  <h4 style="color: #140ca9">Main Course</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.main_course}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>



<div class="m-5">
  <h4 style="color: #140ca9">Pasta</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.pasta}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>

<div class="m-5">
  <h4 style="color: #140ca9">Pizza</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.pizza}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>

<div class="m-5">
  <h4 style="color: #140ca9">Salad</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.salad}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>

<div class="m-5">
  <h4 style="color: #140ca9">Dessert</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.dessert}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>

<div class="m-5">
  <h4 style="color: #140ca9">Drink</h4>
  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-6 g-4">
  {{#each dishes.drink}}
  {{> dishDrinkPartial dish=this currentRoute=../currentRoute}}
  {{/each}}
   </div>
</div>